.image-container{
    width: 50%;
    margin: 0 auto;
    position: relative;
}
.image-container{
    width:50%;
}
.bounding-box{
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}