html{
  min-height:100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: linear-gradient(to right bottom, #df4072, #fb5e4c, #fc8d18, #e1bd00, #a8eb12);
   background-size: cover;
   font-size: 10px;
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

